#game div {
  border: 1px solid black;
  width: 15%;
  height: 175px;
  margin: 10px;
  display: inline-block;
  transition: .4s;
}

.blue.flipped {
	background-color: blue;
  transition: .4s;
}

.green.flipped {
	background-color: green;
  transition: .4s;
}

.red.flipped {
	background-color: red;
  transition: .4s;
}

.orange.flipped {
	background-color: orange;
  transition: .4s;
}

.purple.flipped {
	background-color: purple;
  transition: .4s;
}

.blue.paired {
	background-color: blue;
  transition: .4s;
}

.green.paired {
	background-color: green;
  transition: .4s;
}

.red.paired {
	background-color: red;
  transition: .4s;
}

.orange.paired {
	background-color: orange;
  transition: .4s;
}

.purple.paired {
	background-color: purple;
  transition: .4s;
}
